* {
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
    color: white;
    font-family: serif;
    font-size: 40px;
}
.img-circle {
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    width: 100px;
}
p {
    margin-left: 200px;
    margin-right: 200px;
    background-color: #333333;
    border: 1px solid white;
    border-radius: 30px;
}
